@import 'tailwindcss';

@layer base {
  html,
  body {
    font-family: 'Pretendard Variable';
  }
}

@layer utilites {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d1d5dc;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #99a1af;
  }

  input[type='date'] {
    position: relative;
  }

  input[type='date']::-webkit-clear-button,
  input[type='date']::-webkit-inner-spin-button {
    display: none;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
  }
}
