@import 'tailwindcss';

@layer base {
  html,
  body {
    font-family: 'Pretendard Variable';
  }
}

@layer utilites {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #101828;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #737373;
  }
}
